/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bianco: #FFFFFF;
    --azzurro: #297AFE;
    --nero: #000000;
    --grigio: #ECE7E0;
    --beigechiaro: #EEE9E2;
    --azzurrino: rgba(0, 131, 201, 0.44);
}
html{
    font-family: 'Nanum Gothic', sans-serif;
}

/* header nav hero */

/* nav  */
header{
    width: 100%;
    background-color: var(--azzurrino);
}
nav{
    width: 100%;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bianco);
}

.menùsx{
    margin-left: 1%;
    width: 50%;
    display: flex;
    align-items: center;
}

.menùdx{
    margin-right: 1%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link-navsx{
    text-decoration: none;
    color: var(--nero);
    margin-left: 4%;
}

.link-navdx{
    text-decoration: none;
    color: var(--nero);
    margin-right: 4%;
}

.inizia{
    background-color: var(--azzurro);
    padding: 1% 2%;    
}

.a-inizia{
    color: var(--bianco);
    text-decoration: none;
}

/* fine nav */

/* hero */

.hero{
    border: 1px solid black;
    height: 90vh;
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
    justify-content: center;
    margin-top: 10vh;
}

.heroimg{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.p-hero{
    display: flex;
    flex-direction: column;
}

.jumbo{
    width: 890px;
}

.fa-arrow-down{
    font-size: 50px;
    margin-top: 170px;
}

h1{
    font-size: 100px;
    font-weight: bold;
}

.provafree{
    background-color: var(--azzurro);
    padding: 5px;
    width: 220px;
    text-align: center;
    margin: 30px 0;
}
