/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bianco: #FFFFFF;
    --azzurro: #0061FF;
    --nero: #000000;
    --grigio: #ECE7E0;
    --beigechiaro: #EEE9E2;
    --azzurrino: #B4D0E7;
}
html{
    font-family: 'Open Sans', sans-serif;
}

/* header nav hero */

/* nav  */
header{
    width: 100%;
    background-color: var(--azzurrino);
}
nav{
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bianco);
}

.menùsx{
    margin-left: 1%;
    width: 50%;
    display: flex;
    align-items: center;
}

.menùdx{
    margin-right: 1%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link-navsx{
    text-decoration: none;
    color: var(--nero);
    margin-left: 4%;
}

.link-navdx{
    text-decoration: none;
    color: var(--nero);
    margin-right: 4%;
}

.inizia{
    background-color: var(--azzurro);
    padding: 1% 2%;    
}

.a-inizia{
    color: var(--bianco);
    text-decoration: none;
}

/* fine nav */

/* hero */

.hero{
    padding-top: 160px;
    background-color: var(--light-blu);
    position: relative;
    height: 900px;
}

.container-hero{
    width: 65%;
    margin: 0 auto;
}

.inner-hero {
    display: flex;
    justify-content: flex-start;
}

.inner-hero div {
    width: 30%;
    margin-bottom: 80px;
}

.inner-hero img {
    width: 50vw;
}


.hero h1 {
    padding-bottom: 40px;
    font-size: 80px;
}

.hero p {
    font-size: 16px;
    margin-bottom: 50px;
}

.inner-hero a{
    background-color: var(--azzurro);
    text-decoration: none;
    color: var(--bianco);
    padding: 8px 10px;
}

.hero i {
    padding-top: 100px;
    padding-bottom: 25px;
    font-size: 50px;
}

.fine-iscrizione{
    margin: 50px 0;
} 
/* fine hero */

/* main  */
/* sezione1 */
.sec1{
    width: 55%;
    margin: auto;
    border: 1px solid black;
    height: 300px;
}


/* sezione2 */
.sec2{
    width: 55%;
    margin: auto;
}

.col{
    width: calc(100% / 3.5);
    border: 1px solid lightgray;
}

.sec2-top{
    display: flex;
    justify-content: space-between;
}
.top-col-sec2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-bottom: 1px solid lightgrey;
}

.col h3{
    margin-top: 25px;
    margin-left: 28px;
}
.col h4{
    margin-top: 20px;
    margin-left: 28px;
}
.col>p{
    margin: 30px 0;
    margin-left: 28px;
    font-size: 15px;
}
.mid-col-sec2{
    display: flex;
    align-items: baseline;
    margin: 15px 0;
    margin-left: 28px;
    margin-right: 28px
}

.mid-col-sec2>p{
    font-size: 15px;
}
.mid-col-sec2>i{
    margin-right: 5px;
}
.col .btn{
    background-color: var(--azzurro);
    width: 80%;
    height: 40px;
    border: none;
    margin-top: 30px;
    margin-left: 28px;
    margin-right: 28px
}
.btn a{
    color: var(--bianco);
    text-decoration: none;
}
#sec2hr{
    margin-right: 214px;
    margin-left: 28px;
}
.col ul{
    margin-top: 50px;
    margin-left: 28px;
    margin-right: 28px;
}
.col li{
    list-style: none;
    display: flex;
    margin: 20px 0;
    align-items: baseline;
    font-size: 15px;
}

.col li>i{
    color: var(--azzurro);
    font-size: 18px;
    margin-right:5px;
}

.sec2-bot{
    width: 100%;
    margin-top: 40px;
    border: 1px solid lightgray;
}

.inner-sec2-bot{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 30px;
}

.sec2-bot :last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sec2-bot h4{
    margin-top: 20px;
    margin-bottom: 50px;
}
.enterprise{
    width: 70%;
    height: 190px;
}
.btn-enterprise{
    background-color: var(--azzurro);
    width: 200px;
    height: 40px;
    text-align: center;
    border: none;
    line-height: 40px;
}

.btn-enterprise a{
    color: var(--bianco);
    text-decoration: none;
}

/* sezione3 */

.sec3{
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 150px;
}

.sec3 img{
    width: 660px;
}

.inner-sec3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: calc(100% / 3);
    margin-top: 60px;
}
.inner-sec3 p{
    margin: 30px 0;
}
.btn-sec3{
    background-color: var(--bianco);
    border: 1px solid var(--nero);
    width: 160px;
    padding: 10px 0;
}
.btn-sec3 a{
    text-decoration: none;
    font-size: 16px;
}

/* sezione4 */

h2{
    font-size: 40px;
    margin-bottom: 50px;
}

.sec4{
    width: 55%;
    margin: auto;
}

.flex-card-sec4 img{
    width: 100%;
}
.flex-card-sec4 div{
    width: calc(100% / 3);
    justify-content: space-between;
}
.flex-card-sec4{
    display: flex;
    flex-wrap: wrap;
}
.flex-card-sec4 h3{
    font-size: 25px;
    margin: 20px 0;
}

.flex-card-sec4 p{
    margin-right: 30px;
}

/* sezione5 */

.sec5{
    width: 55%;
    margin: auto;
    margin-top: 150px;
}
.sec5 div{
    width: 70%;
}

.sec5 h3{
    font-size: 36px;
}
.sec5 a{
    font-size: 15px;
    color: var(--azzurro);
}

/* sezione6 */

.sec6{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}
.sec6-topdiv{
    width: 100%;
    height: 635px;
    display: flex;
}
.square{
    width: calc(100% / 3);
}
.squarein4 div{
    width: 50%;
    height: 50%;
}
.squarein4{
    display: flex;
    flex-wrap: wrap;
}

.sec6-botdiv{
    width: 100%;
    height: 317.5px;
    background-color: var(--azzurrino);
    display: flex;
}

.squarein4 img{
    filter: invert(1);
    width: 50%;
}

.squarein4 div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec6-square{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 30px;
    padding-top: 30px;
}
.sec6-square img{
    width: 50%;
}
#sec6hr{
    margin-right: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sec6-square p{
    margin-bottom: 50px;
}

.sec6-botdiv h2{
    color: rgb(163, 4, 65);
    width: 50%;
    font-size: 35px;
}
.btn-sec6{
    background-color: var(--bianco);
    padding: 10px;
    margin-top: 15px;
    border: none;
    margin-bottom: 100px;
}
.btn-sec6 a{
    text-decoration: none;
}
.sec6-botdiv :first-child{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sec6-botdiv :last-child{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* sezione7 */

.sec7{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: auto;
    margin-top: 100px;
}
.question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.q1{
    border-top: 1px solid grey;
}
.q2{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.q3{
    border-bottom: 1px solid grey;
}
.question p{
    margin: 30px 0;
}